* {
	align-items: center !important;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-left: 2%;
	bottom: 5%; /* puts to bottom of page */
	position: fixed; /* puts to bottom of page */
}

.nav-bar {
	position: absolute;
	width: 100vw;
}

.nav-btn {
	padding: 2vw;
	border: 2px;
	text-transform: none;
	text-decoration: none;
	margin: 4vh 0vw 4vh 0vw;
	font-size: 3vh;
	font-weight: 500;
	line-height: 1.25;
	/*color: rgba(70, 107, 191, 0.6);*/
	color: black;
}

.nav-btn.btn-selected {
	color: #466bbf;
	font-weight: 900;
}

.nav-btn:hover {
	font-weight: bold;
	/*color: rgb(70, 107, 191);*/
}

.stretch {
	display: inline-block;
	-webkit-transform: scale(1, 2); /* Safari and Chrome */
}