* {
	align-items: center !important;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-left: 2%;
	bottom: 3%; /* puts to bottom of page */
	position: fixed; /* puts to bottom of page */
}

.nav-bar {
	position: absolute;
	width: 9vw;
}

.nav-btn {
	padding: 1vw;
	border: None;
	text-transform: none;
	text-decoration: none;
	margin: 4vh 0vw 4vh 0vw;
	font-size: 1vw;
	font-weight: 500;
	line-height: 1.25;
	color: rgba(70, 107, 191, 0.6);
}

.nav-btn.btn-selected {
	color: #466bbf;
	font-weight: 900;
}

.nav-btn:hover {
	font-weight: bold;
	color: rgb(70, 107, 191);
}

.nav-titleDiv {
	display: flex;
	color: #466bbf;
	margin: auto;
}

.nav-title {
	font-size: 1.5vw;
	font-stretch: expanded;
	font-weight: 700;
	margin-left: 4vw;
	width: 30vw;
}

.stretch {
	display: inline-block;
	-webkit-transform: scale(1, 2); /* Safari and Chrome */
}

.nav-page {
	font-size: 1em;
}

.nav-logo {
	width: 9vw;
	margin: -0.5vw 0 -0.5vw 11vw;
}
